.contact {
  height: max-content;
  width: 100%;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contactHeading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}
.subHeading {
  color: #fff;
  font-family: "Poppins", Arial, sans-serif;
  font-size: 13px;
  font-weight: 700;
  margin-bottom: 5px;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.heading {
  color: #000000;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 1.5rem !important;
  line-height: 1.5;
  font-family: "Poppins", Arial, sans-serif;
}
.contactParagraph {
  color: #fff;
  margin-bottom: 4rem;
  font-family: "Poppins", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.8;
  font-weight: 400;
}
/* ######################################## */
.contactMe {
  height: fit-content;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}
/* ########################################### */
.contactField {
  height: fit-content;
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 3rem;
  box-shadow: 0 0 10px rgb(39, 32, 32);
  flex-direction: column;
  overflow: hidden;
  gap: 1rem;
}
.nameEmail {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.name {
  width: 100%;
  height: 3rem;
  padding-right: 15px;
  padding-left: 15px;
  font-family: "Poppins", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.8;
  font-weight: 400;
  color: #999999;
  border: 2px solid #b1b493;
  border-radius: 2px;
}
.email {
  width: 100%;
  height: 3rem;
  padding-right: 15px;
  padding-left: 15px;
  font-family: "Poppins", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.8;
  font-weight: 400;
  color: #999999;
  border: 2px solid #b1b493;
  border-radius: 2px;
}
.subject {
  width: 100%;
  height: 3rem;
  border: 2px solid #b1b493;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  font-family: "Poppins", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.8;
  font-weight: 400;
  color: #999999;
  border: 2px solid #b1b493;
  border-radius: 2px;
}
textarea {
  width: 100%;
  border: 2px solid #b1b493;
  border-radius: 2px;
  font-size: 16px;
  padding: 10px 20px;
  width: 100%;
  font-weight: 400;
    line-height: 1.5;
    margin: 0;
    font-family: inherit;
    box-sizing: border-box;
    font-family: "Poppins", Arial, sans-serif;
}
.btn{
  background: #b1b493;
  border: 1px solid #b1b493 !important;
  color: #fff !important;
  font-size: 14px;
  font-weight: 500;
  border-radius: 5px;
  box-shadow: 0px 24px 36px -11px rgba(0, 0, 0, 0.09);
  padding-left: 1rem !important;
  padding-bottom: 1rem !important;
  padding-top: 1rem !important;
  padding-right: 1rem !important;
  text-align: center;
  vertical-align: middle;
}
.btn.clicked {
  background-color: #28a745; /* Green color */
}
/* ################################################ */
.myAddress {
  height: fit-content;
  width: fit-content;
  display: flex;
  justify-content:flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding: 3rem;
  flex-direction: column;
  text-align: left;
}
.myAddresses{
  display: flex;
  width: 21rem;
  height: 7.93rem;
  font-family: "Poppins", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.8;
  font-weight: 400;
  color: #fff;
}
.icons {
  height: 50px ;
  width:50px ;
  background-color: #b1b493;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #fff;
}
span {
  display: block;
  font-weight: 600;
  color: #000000;
  font-family: "Poppins", Arial, sans-serif;
}

@media (max-width: 998px) {
  .contact{
    overflow-x: hidden;
  }
  .contactMe{
  }

}

@media (max-width: 600px){
  .nameEmail {
    flex-direction: column;
  }
}

.contact2{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(43deg,#4158d0 0%,#c850c0 46%,#ffcc70 100%);
}