.footer{
    width: 100%;
    height: 50vh;
    background-color: #232931;
}
.footer_child {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%; /* Ensure it takes the full height of the parent */
  }
  h1{
    color: #bdbfc2;
  }
  @media (max-width:998px){
    h1{
      font-size: 1.3rem;
    }
  }